*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.flex-wrap-nowrap{
    flex-wrap: nowrap;
}
.w-100{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.c-pink{
    color: #da2961;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
ul li{
    list-style: none;
}
/* header section start */
.navbar{
    background-color: rgba(168, 116, 116, 0.468);
}
.navbar ul li a{
    padding: 5px 10px;
    margin: 5px 10px;
    color: #fff;
}
.navbar nav ul + ul li:last-child a{
    background-color: #f00870;
}
/* header section end */

/* hero section start */
.hero{
    height: 600px;
    background-image: url(../images/bg\ fabric.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.hero .hero-content{
    left: 0;
    color: #fff;
    justify-content: flex-end;
}
.hero .hero-content h1{
  font-size: 52px;
  font-weight: 800;
}
.hero .hero-content .btn a:first-child {
  padding: 1rem 1.5rem;
  margin-right: 5px;
  background-color: #da2961;
  color: #fff;
  font-weight: 700;
}
.hero .hero-content .btn a:last-child {
  padding: 1rem 1.5rem;
  background-color: #fff;
  color: #da2961;
  font-weight: 700;
}
/* hero section end */

/* about section start */
.about{
    height: 600px;
    position: relative;
}
.item1{
   padding: 10px;
   width: 600px; 
   border-radius: 10px;
   transform: translate(30px , 30px);
}
.item2{
   width: 150px;
   border: 3px solid #fff;
   border-radius: 10px;
   transform: translate(250px , -400px);
}
.item3{
   width: 300px; 
   border: 5px solid #fff;
   border-radius: 10px;
   transform: translate(-50px , -90px);
}
.item4{
   width: 250px; 
   border-radius: 10px;
   transform: translate(00 , -100px);
}
.about .about-content p{
    margin-top: 50px;
    padding: 5px;
    border-bottom: 1px solid #b1adad;
    color: #da2961;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}
.about .about-content h2{
    font-size: 3rem;
    font-weight: 600;
}
.about .about-content .para{
    margin: 10px 0;
    color: #8d8888cb;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}
.about-content ul li span{
    font-size: 4rem;
}
.about-content ul li a{
    color: #474849;
}

/* about section end */

/* service section start */
.service .service-content h3 ,
.service .service-content p{
    text-align: center;
}
.service .service-content h3{
    font-weight: 400;
}
.service .service-content p{
    font-weight: 600;
    font-size: 2.5rem;
}
.card1{
    margin: 20px 10px;
    height: 420px;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s ease;
    position: relative;
}
.card1 p{
    padding: 0 20px;
    font-weight: 600;
}
.card2{
    margin: 20px 10px;
    height: 420px;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s ease;
    position: relative;
}
.card2 img{
    width: 150px;
}
.card2 img,
.card2 h2,
.card2 p{
    padding: 0 20px;
}
.card3{
    margin: 20px 10px;
    height: 420px;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s ease;
    position: relative;
}
.card3 img,
.card3 h2,
.card3 p{
    padding: 0 20px;
}
.card3 img{
    width: 150px;
}
.card4{
    margin: 20px 10px;
    height: 420px;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s ease;
    position: relative;
}
.card4  .fa-snowflake{
    padding: 10px 20px;
    font-size: 80px;
    color: #ca055e;
}
.card4 img,
.card4 h2,
.card4 p{
    padding: 0 20px;
}
.card1 a,
.card2 a,
.card3 a,
.card4 a {
  padding: 1rem;
  position: absolute;
  color: #6b6868;
  bottom: 0;
  right: 0;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover{
    background-color: #68686899;
}
/* service section end */

/* pricing section start */
.pricing {
  background-color: #fff;
  height: 700px;
}

.pricing .pricing-content {
  position: relative;
}

.pricing .pricing-content h3 {
  color: #da2961;
  font-size: 18px;
  text-align: center;
}

.pricing .pricing-content>p {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.pricing .pricing-content .card5 {
  margin: 1rem;
  padding: 1rem;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease;
}

.pricing .pricing-content .card5:hover {
  background-color: #010520;
  color: #fff;
  transform: scale(1.1);
}
.pricing .pricing-content .card5:hover a{
  background-color: #fff;
  color: #da2961;
}
.pricing .pricing-content .card5 h2 {
  font-size: 18px;
}

.pricing .pricing-content .card5 p {
  line-height: 3;
}

.pricing .pricing-content .card5 a {
  background-color: #da2961;
  color: #fff;
  padding: 1rem;
  border-radius: 3px;
}

/* pricing section end */